---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: esphome
  labels:
    app: esphome
spec:
  replicas: 1
  selector:
    matchLabels:
      app: esphome
  template:
    metadata:
      labels:
        app: esphome
    spec:
      containers:
      - name: esphome
        image: ghcr.io/esphome/esphome:2025.11.3
        volumeMounts:
        - name: esphome-volume
          mountPath: /config
        env:
        - name: ESPHOME_DASHBOARD_USE_PING
          value: "true"
        ports:
          - name: web
            containerPort: 6052
            protocol: TCP
        securityContext:
          capabilities:
            add:
              - NET_RAW
      volumes:
      - name: esphome-volume
        persistentVolumeClaim:
          claimName: esphome-pvc
